.nav-link {
  padding: 0 .75rem;
  min-width: 2rem;
  transition: .3s color;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.avatar {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 50%;
  display: inline-block;
  background: #ced4da no-repeat center/cover;
  position: relative;
  text-align: center;
  color: #868e96;
  font-weight: 600;
  vertical-align: bottom;
  font-size: .875rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

nav {
  margin-right: 100px!important;
  a {
    font-size: 20px;
    &.is-active {
      color: #007bff!important;
    }
  }
}

.s-blue {
  color: #4285F4;
}

.s-red {
  color: #EA4636;
}

.s-yellow {
  color: #F8BC2E;
}

.s-green {
  color: #53A954;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
}