<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">TELSTAR</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="#">About us</a>
    <a class="p-2 text-dark" href="/find-route">Find route</a>
  </nav>

  <div class="d-flex order-lg-2 ml-auto">
    <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown" aria-expanded="false">
      <span class="avatar" style="background-image: url(./assets/images/default.jpg)"></span>
      <span class="ml-2 d-none d-lg-block">
        <span class="text-default">Steve</span>
      </span>
    </a>
  </div>
</div>