@import "./_omega.scss";
@import "./primeng.scss";
a {
  cursor: pointer
}

body,
html {
  height: 100%;
}

.ui-autocomplete.ui-widget {
  width: 100%;
}

.ui-autocomplete-input {
  width: 100%;
  height: 40px;
  &.is-invalid {
    border-color: #dc3545;
  }
}

a {
  &.logo {
    text-decoration: none;
  }
}